
/**
* Css Principal
*/
html, body{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.div-layout {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
}

/**
* Nav
*/
.div-navbar {
    box-shadow: 0 0px 11px rgba(0,0,0,0.4);
    width: 100%;
    display: -webkit-flex;
    display: flex;
    height: 56px;
    background: #48825d;
    position: relative;
    -webkit-align-items: center;
    align-items: center;
}

.h1-title{
    margin-left: 10px;
    font-size: 1.2rem;
    color: white;
    font-weight: normal;
}

.img-title{
    margin-left: 10px;
}

@media (min-width: 600px){
    .div-navbar {
        height: 72px;
    }

    .h1-title{
        font-size: 1.3rem;
    }

    .img-title{
        margin-left: 24px;
    }
}

.div-content {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    position: relative;
}

.div-scroll{
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

/**
* Cards
*/
.div-card {
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    margin: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.div-card-content{
    padding: 16px;
    display: -webkit-flex;
    display: flex;
}

.img-card{
    height: 50px;
    margin-right: 16px;
}

.div-card-description {
    line-height: 1.4;
    -webkit-flex: 1;
    flex: 1;
}

.div-card-title {
    display: -webkit-flex;
    display: flex;
    line-height: 1.5;
    margin-bottom: 6px;
    font-size: 1rem;
}

.h-card-title {
    -webkit-flex: 1;
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: bold;
}

.p-card-text {
    margin: 0;
    color: #666;
    max-width: 550px;
}

@media (min-width: 600px){
    .div-card {
        margin: 16px;
        box-shadow: 0 3px 7px rgba(0,0,0,0.15);
    }
}

@media (min-width: 800px){
    .div-card {
        margin: 16px auto;
        width: 756px;
    }
}