
/**
* Css Principal
*/
html, body{
    height: 100%;
    width: 100%;
}

body{
    position: fixed;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.div-layout {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
}

/**
* Nav
*/
.div-navbar {
    box-shadow: 0 0px 11px rgba(0,0,0,0.4);
    width: 100%;
    display: -webkit-flex;
    display: flex;
    height: 56px;
    background: #48825d;
    position: relative;
    -webkit-align-items: center;
    align-items: center;
}

.h1-title{
    margin-left: 10px;
    font-size: 1.2rem;
    color: white;
    font-weight: normal;
}

.img-title{
    margin-left: 10px;
}

@media (min-width: 600px){
    .div-navbar {
        height: 72px;
    }

    .h1-title{
        font-size: 1.3rem;
    }

    .img-title{
        margin-left: 24px;
    }
}

.div-content {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    position: relative;
}

.div-scroll{
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

/**
* Cards
*/
.div-card {
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    margin: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.div-card-content{
    padding: 16px;
    display: -webkit-flex;
    display: flex;
}

.div-card-content.div-form{
    padding: 16px 25px;
}

.img-card{
    height: 50px;
    margin-right: 16px;
}

.div-card-description {
    line-height: 1.4;
    -webkit-flex: 1;
    flex: 1;
}

.div-card-title {
    display: -webkit-flex;
    display: flex;
    line-height: 1.5;
    margin-bottom: 6px;
    font-size: 1rem;
}

.h-card-title {
    -webkit-flex: 1;
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: bold;
}

.p-card-text {
    margin: 0;
    color: #666;
    max-width: 550px;
}

/**
* btn
*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 0px;
    color: #fff;
    background-color: #48825d;
}

.div-btn-circle{
    outline: 0px;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    user-select: none;
    margin-right: 0px;
    background: #48825d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    bottom: 24px;
    cursor: pointer;
    height: 56px;
    position: fixed;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color,-webkit-box-shadow;
    right: 24px;
    transition-property: background-color,box-shadow;
    width: 56px;
    z-index: 2;
}

.div-btn-circle:hover{
    background: #749f84;
    -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,.2),0px 10px 14px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.10);
    -moz-box-shadow: 0px 5px 5px rgba(0,0,0,.2),0px 10px 14px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.10);
    box-shadow: 0px 5px 5px rgba(0,0,0,.2),0px 10px 14px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.10)
}

.div-btn-shadow{
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.3), 0px 0px 1px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.25), inset 0px -1px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
    box-shadow: 0px 2px 10px rgba(0,0,0,.3), 0px 0px 1px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.25), inset 0px -1px 0px rgba(0,0,0,.15);
}

.div-btn-icon {
    line-height: 55px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: auto;
    height: 100%;
    outline: none;
    width: 24px;
}

/**
* Forms
*/
.div-card-form{
    display: -webkit-flex;
    display: flex;
    padding-top: 15px;
}

.div-form .h-card-title{
    padding-top: 7px;
    padding-left: 10px;
}

.img-form{
    height: 40px;
    padding-right: 10px;
}

.input-form{
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.textarea-form{
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.label-form {
    width: 90px;
    font-weight: 600;
    padding: 5px 10px 0px 0px;
}

/**
* Media 
*/

@media (max-width: 410px){
    .img-card{
        height: 40px;
        margin-right: 12px;;
    }

    .div-card-content {
        padding: 14px;
    }

    .div-card-content.div-form{
        padding: 16px 20px;
    }

    .label-form {
        font-size: .9em;
        padding: 5px 7px 0px 0px;
    }

}

@media (min-width: 600px){
    .div-card {
        margin: 16px;
        box-shadow: 0 3px 7px rgba(0,0,0,0.15);
    }
}

@media (min-width: 800px){
    .div-card {
        margin: 16px auto;
        width: 756px;
    }

    .div-btn-circle{
        right: 30px;
        bottom: 30px;
    }
}

